<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Not Found</title>
    <link rel="stylesheet"
          href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <header class="w3-black w3-container">
      <h1>404 Not Found</h1>
    </header>
    <div class="w3-container w3-xlarge">
      <p>
        ¡Ups! Recurso no encontrado:
        <br>
        <span class="w3-xxxlarge">
          &nbsp;
          &#9758; <!-- Dedo índice apuntando
                       hacia la derecha de lado. -->
        </span>
        <code><%= url %></code>
      </p>
    </div>
  </body>
</html>